{% extends 'base.html.twig' %}



{% block title %}Détail d'un article{% endblock %}



{% block body %}



    <h1>{{ article.title }}</h1>

    <p>{{ article.description }}</p>
    <a href="{{ path('article_list') }}">Retour à la liste des articles</a>


{% endblock %}


{% javascripts %}
    {{ parent }}
    <script src="{{ assets('js/ajax-article-likes.js') }}"></script>
{% endblock %}